<h2><%= @employee.first_name %> <%= @employee.last_name %></h2>

alias: <%= @employee.alias %><br>
title: <%= @employee.title %><br>
office: <%= @employee.office %><br>
dog: <%= @employee.dog.name %><br>
<img src=<%= @employee.img_url %> height=250px width=250px>

